
/**********************************************/
/**********************************************/
/* Clear the default styles using Meyer reset */

/*
http://meyerweb.com/eric/tools/css/reset/ 
v2.0 | 20110126
License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}


/********************************************/
/********************************************/
/* Start custom styles */

html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    color: DarkGray;
}

.banner {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 10px;
}

/*************************************/
/*************************************/
/* Component containing search field */

.search {
    width: 100%;
    background-color: LightGray;
    padding: 1rem 1%;    
}

/* Search button with icon */
.search-button {
    display: inline-block;   
    vertical-align: top; 
    width: 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;    
    background-image: url("/src/app/images/search-icon.png");
    background-size: contain;
    cursor: pointer;
}

/* Search input field */
.search-input {
    display: inline-block;   
    vertical-align: top;  
    width: 15rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.search-input, .search-button {
    height: 2rem;
    line-height: 2rem;
    border: none;
    padding: 0 1rem;
}

/*************************************/
/*************************************/
/* Component with spinning planet during fetching */
.spinner {
    display: inline-block;
    vertical-align: top; 
    height: 2rem;
    margin-left: 0.5rem;
}

/*************************************/
/*************************************/
/* Component containing table, nav */

.main {
    width: 100%;
    padding: 1%;
}

/*************************************/
/* Component containing table */

.table-wrapper {
    width: 100%;
    overflow-x: scroll;
}

table {
    width: 100%;
    border-bottom: 15px solid LightGray;
    border-radius: 5px;  
    overflow: hidden;  
    border-collapse: separate;
}

th {
    background-color: #54c6e5; /* blue */
    color: white;  
    font-weight: 200;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
}

td {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid LightGray;
}

/* For non-sortable table column headers */
.no-sort {
    cursor: default;
}

/*************************************/
/* Component containing nav */

.nav {
    text-align: right;
    padding: 0.5rem;
}

/* First, Last, nums, arrows */
.nav-opt {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 0.5rem 0.75rem;
    cursor: pointer;
}

/* Mark the current page number */
.nav-curr {
    background-color: LightGray;
    border-radius: 50%;
}

/********************************************/
/********************************************/
/* Make table scroll horiz on small screens */
@media 
only screen and (max-width: 768px) {

    table {
      overflow-x: auto;
      width: fit-content;
      max-width: 100%;
    }

    td {
      white-space: nowrap;
    }

    td:first-of-type, th:first-of-type {
      border-left: none;
    }

    td:last-of-type, th:last-of-type {
      border-right: none;
    }

}
