
/* 

    Clear the default styles using Meyer reset

    http://meyerweb.com/eric/tools/css/reset/ 
    v2.0 | 20110126
    License: none (public domain)

*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed, 
figure, figcaption, footer, header, hgroup, 
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, 
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}

/* start custom styles */

html {
    font-size: 14px;
}

* {
    box-sizing: border-box;
    font-family: "Helvetica Neue Light", "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 1rem;
}

h1 {
    font-size: 2.5rem;
}

h3 {
    font-size: 1.25rem;
    color: DarkGray;
}

.banner {
    width: 100%;
    background-color: black;
    color: white;
    text-align: center;
    padding: 25px 10px;
}

.search {
    width: 100%;
    background-color: LightGray;
    color: black;
    padding: 1rem 1%;    
}

.search-button {
    display: inline-block;   
    vertical-align: top; 
    width: 2rem;
    border-top-left-radius: 0.5rem;
    border-bottom-left-radius: 0.5rem;    
    background-image: url("/src/app/images/search-icon.png");
    background-size: contain;
    cursor: pointer;
}

.search-input {
    display: inline-block;   
    vertical-align: top;  
    width: 15rem;
    border-top-right-radius: 0.5rem;
    border-bottom-right-radius: 0.5rem;
}

.search-input, .search-button {
    height: 2rem;
    line-height: 2rem;
    border: none;
    padding: 0 1rem;
}

.spinner {
    display: inline-block;
    vertical-align: top; 
    height: 2rem;
    margin-left: 0.5rem;
}

.main {
    width: 100%;
    padding: 1%;
}

.table-wrapper {
    width: 100%;
    overflow-x: scroll;
}

table {
    width: 100%;
    border-bottom: 15px solid LightGray;
    border-radius: 5px;  
    overflow: hidden;  
    border-collapse: separate;
}

th {
    background-color: #54c6e5;
    color: white;  
    font-weight: 200;
    padding: 0.75rem;
    text-align: center;
    cursor: pointer;
}

.no-sort {
    cursor: default;
}

td {
    padding: 0.5rem;
    text-align: center;
    border-bottom: 1px solid LightGray;
}

.nav {
    text-align: right;
    padding: 0.5rem;
}

.nav-opt {
    display: inline-block;
    height: 1.5rem;
    width: 1.5rem;
    line-height: 1.5rem;
    text-align: center;
    margin: 0.5rem 0.75rem;
    cursor: pointer;
}

.nav-curr {

    background-color: LightGray;
    border-radius: 50%;
}

/*@media 
only screen and (max-width: 768px),
(min-device-width: 768px) and (max-device-width: 1024px)  {

    table, thead, tbody, th, td, tr { 
        display: block; 
    }

}*/

@media 
only screen and (max-width: 768px) {

    table, thead, tbody, th, td, tr { 
        display: block; 
    }

    /* Hide table headers off-screen*/
    thead tr { 
        position: absolute;
        top: -9999px;
        left: -9999px;
    }
    
    tr { 
        border-bottom: 5px double DarkGray; 
        margin-top: 0.25rem;
        padding: 0.25rem;
    }

    tr:last-child {
        border-bottom: none;
    } 
    
    td { 
        border-bottom: 1px solid #eee; 
        position: relative;
        padding-left: 50%; 
    }
    
    td:before { 
        content: attr(data-label);
        background-color: #54c6e5;
        color: white;
        border-radius: 5px;
        position: absolute;
        display: inline-block;
        top: 0.25rem;
        left: 0.25rem;
        width: 45%; 
        height: 1.5rem;
        line-height: 1.5rem;
        padding-right: 1rem; 
        white-space: nowrap;
    }

}
